/* RESET CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgb(233,235,238);
}

#header_page {
    width: 100vw;
}

@media screen and (min-width:0px) {
    #header_page {
        height: 45vh;
        background: red;
    }
}

@media screen and (min-width:300px) {
    #header_page {
        height: 10vh;
        background: none;
    }
}